@model Funeral.App.ViewModels.CurrentObituaryViewModel
@{
    ViewData["Title"] = "Вашият некролог";
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script src="https://kit.fontawesome.com/3c54b527d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Current.css">
</head>

<body>
    <section id="design">
        <div id="main-window">

            <img id="background" name="background" src="@Model.Background" alt="">
            <img width="70px" id="cross" name="cross" src="@Model.Cross" alt="">
            <div id="pic-border">
                <img id="face" name="picture" src="@Model.Picture" alt="">
            </div>

            <div id="text-elements">
                <textarea name="crossText" id="cross-text">@Model.CrossText</textarea>
                <textarea name="afterCrossText" id="after-cross-text">@Model.AfterCrossText</textarea>
                <textarea name="fullName" id="full-name">@Model.FullName</textarea>
                <textarea name="year" id="year">@Model.Year</textarea>
                <textarea name="mainText" id="main-text">@Model.MainText</textarea>
                <textarea name="panahida" id="panahida">@Model.Panahida</textarea>
                <textarea name="from" id="from">@Model.FromWhere</textarea>
            </div>

        </div>
    </section>

    <div class="row">
        <button class="btn btn-success mr-3" type="button" id="btn">Направи PDF файл.</button>
        <button data-toggle="modal" data-target="#userPictureGallery" type="submit" class="btn btn-info mr-3">Смени снимката</button>
        <button data-toggle="modal" data-target="#deleteObituary" type="submit" class="btn btn-danger mr-3">Премахни некролога</button>
    </div>

</body>

@*Delete modal dialog*@
<div class="modal fade" id="deleteObituary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Моля, потвърдете премахването?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Текущият некролог ще бъде окончателно премахнат. Налистина ли желаете да го премахнете?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Затваряне</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href = '/Obituary/DeleteObituary?id=@Model.ObituaryId'">Потвърждавам</button>
            </div>
        </div>
    </div>
</div>

@*Picture gallery modal dialog*@
<div class="modal fade" id="userPictureGallery" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Галерия на Вашите снимки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @* Carousel *@
                <div id="carousel">

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

                            @for (int i = 1; i < Model.UserPictures.Count(); i++)
                            {
                                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="active"></li>
                            }
                        </ol>
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <a asp-controller="Obituary" asp-action="ChangeUserPicture" asp-route-obituaryId="@Model.ObituaryId" asp-route-pictureId="@Model.UserPictures.First().PictureId"><img height="500" class="d-block w-100" src="@Model.UserPictures.First().PictureFilePath" alt="this is slide"></a>
                            </div>

                            @foreach (var picture in Model.UserPictures.Skip(1))
                            {
                                <div class="carousel-item">
                                    <a asp-controller="Obituary" asp-action="ChangeUserPicture" asp-route-obituaryId="@Model.ObituaryId" asp-route-pictureId="@picture.PictureId"><img height="500" class="d-block w-100" src="@picture.PictureFilePath" alt="this is slide"></a>
                                </div>
                            }
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Затваряне</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* Convert to Pdf java script *@
    <script>
        window.onload = function () {
            document.getElementById("btn")
                .addEventListener("click",
                    () => {
                        const invoice = this.document.getElementById("main-window");
                        console.log(invoice);
                        console.log(window);
                        var opt = {
                            margin: 0,
                            filename: 'Nekrolog.pdf',
                            image: { type: 'jpeg', quality: 1.00 },
                            html2canvas: { scale: 1, useCORS: true },
                            jsPDF: {
                                unit: 'mm',
                                format: [210, 297],
                                orientation: 'portrait'
                            }
                        };
                        html2pdf().from(invoice).set(opt).save();
                    });
        };
    </script>
}