@model Funeral.App.ViewModels.CurrentObituaryViewModel
@{
    ViewData["Title"] = "Вашият некролог";
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script src="https://kit.fontawesome.com/3c54b527d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Current.css">
</head>

<body>
    <section id="design">
        <div id="main-window">

            <img id="background" name="background" src="@Model.Background" alt="">
            <img width="70px" id="cross" name="cross" src="@Model.Cross" alt="">
            <div id="pic-border">
                <img id="face" name="picture" src="@Model.Picture" alt="">
            </div>

            <div id="text-elements">
                <textarea name="crossText" id="cross-text">@Model.CrossText</textarea>
                <textarea name="afterCrossText" id="after-cross-text">@Model.AfterCrossText</textarea>
                <textarea name="fullName" id="full-name">@Model.FullName</textarea>
                <textarea name="year" id="year">@Model.Year</textarea>
                <textarea name="mainText" id="main-text">@Model.MainText</textarea>
                <textarea name="panahida" id="panahida">@Model.Panahida</textarea>
                <textarea name="from" id="from">@Model.FromWhere</textarea>
            </div>

        </div>
    </section>

    <div class="row">
        <button class="btn btn-success mr-3" type="button" id="btn">Направи PDF файл.</button>
        <button data-toggle="modal" data-target="#deleteObituary" type="submit" class="btn btn-danger">Премахни некролога</button>
    </div>

</body>

<!-- Modal -->
<div class="modal fade" id="deleteObituary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Моля, потвърдете премахването?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Текущият некролог ще бъде окончателно премахнат. Налистина ли желаете да го премахнете?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Затваряне</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href = '/Obituary/DeleteObituary?id=@Model.Id'">Потвърждавам</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        window.onload = function () {
            document.getElementById("btn")
                .addEventListener("click",
                    () => {
                        const invoice = this.document.getElementById("main-window");
                        console.log(invoice);
                        console.log(window);
                        var opt = {
                            margin: 0,
                            filename: 'Nekrolog.pdf',
                            image: { type: 'jpeg', quality: 1.00 },
                            html2canvas: { scale: 1, useCORS: true },
                            jsPDF: {
                                unit: 'mm',
                                format: [210, 297],
                                orientation: 'portrait'
                            }
                        };
                        html2pdf().from(invoice).set(opt).save();
                    });
        };
    </script>
}