@using Funeral.App.Enums
@model Funeral.App.ViewModels.MakeItViewModel
@{
    ViewData["Title"] = "Направи си";
}
<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/3c54b527d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Main.css">
</head>
<body>
    <aside id="menu-items">

        <ul>
            <li><a href="/MakeIt/ChangeToFrames">Рамки</a></li>
            <li><a href="/MakeIt/ChangeToTexts">Текстове</a></li>
            <li><a href="/MakeIt/ChangeToCrosses">Кръстове</a></li>
            @if (User.Identity.Name == "stef4otm@gmail.com")
            {
                <div class="dropdown">
                    <button class="dropbtn">Администрация</button>
                    <div class="dropdown-content">
                        <a href="/Admin/UploadFrame">Качване на рамка</a>
                        <a href="/Admin/UploadCross">Качване на кръст</a>
                        <a href="/Admin/UploadText">Качване на текст</a>
                    </div>
                </div>
            }
        </ul>

    </aside>

    

    <section id="design">
        <div id="main-window">

            <div id="save-work">
                <a href=""><i class="fas fa-save"></i></a>
            </div>

            <div id="total-save">
                <a href=""><i class="fas fa-share-square"></i></a>
            </div>

            <img id="background" src="@Model.CurrentFrame" alt="">
            <img width="70px" id="cross" src="@Model.CurrentCross" alt="">
            <div id="pic-border">
                <img id="face" id="cross" src="~/face.jpg" alt="">
            </div>
            <form method="post">
                <textarea name="crossText" id="cross-text">@Model.CrossText</textarea>
                <textarea name="afterCrossText" id="after-cross-text">@Model.AfterCrossText</textarea>
                <textarea name="fullName" id="full-name">@Model.FullName</textarea>
                <textarea name="year" id="year">@Model.Year</textarea>
                <textarea name="mainText" id="main-text">@Model.CurrentText</textarea>
                <textarea name="panahida" id="panahida">@Model.Panahida</textarea>
                <textarea name="from" id="from">@Model.From</textarea>
            </form>

        </div>

        <div id="items">

            @if (Model.Elements == Elements.Frames)
            {
                foreach (var frame in Model.AllFrames)
                {
                    <a href="/MakeIt/ChangeFrame?frameId=@frame.FrameId"><img class="elements" src="@frame.FilePath" alt="image"></a>
                }
            }
            else if (Model.Elements == Elements.Crosses)
            {
                foreach (var cross in Model.AllCrosses)
                {
                    <a href="/MakeIt/ChangeCross?crossId=@cross.CrossId"><img class="elements" src="@cross.FilePath" alt="image"></a>
                }
            }
            else if (Model.Elements == Elements.Texts)
            {
                foreach (var text in Model.AllTexts)
                {
                    <a href="/MakeIt/ChangeText?textId=@text.TextId"><p class="elements side-texts">@text.TextTemplate</p></a>
                }
            }

        </div>
    </section>
</body>
</html>