@using Funeral.App.Enums
@model Funeral.App.ViewModels.MakeItViewModel
@{
    ViewData["Title"] = "Направи си";
}
<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/3c54b527d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Main.css">
</head>
<body>
    <aside id="menu-items">

        <ul>
            <li><a href="/MakeIt/ChangeToFrames">Рамки</a></li>
            <li><a href="/MakeIt/ChangeToTexts">Текстове</a></li>
            <li><a href="/MakeIt/ChangeToCrosses">Кръстове</a></li>
            <li><a href="/Obituary/AllUserObituary">Вашите некролози</a></li>
            @if (User.Identity.Name == "stef4otm@gmail.com")
            {
                <div class="dropdown">
                    <button class="dropbtn">Администрация</button>
                    <div class="dropdown-content">
                        <a href="/Admin/UploadFrame">Качване на рамка</a>
                        <a href="/Admin/UploadCross">Качване на кръст</a>
                        <a href="/Admin/UploadText">Качване на текст</a>
                    </div>
                </div>
            }
        </ul>

    </aside>

    <section id="design">
        <div id="main-window">

            <img id="background" name="background" src="@Model.CurrentFrame" alt="">
            <img width="70px" id="cross" name="cross" src="@Model.CurrentCross" alt="">
            <div id="pic-border">
                <img id="face" name="picture" src="@Model.Picture" alt="">
            </div>

            <div id="uploadImageForm">
                <form method="post" enctype="multipart/form-data" asp-controller="MakeIt" asp-action="UploadImage">
                    <input id="inputBtn" type="file" name="imgFile" />
                    <button id="uploadBtn" type="submit"><i class="fas fa-upload"></i></button>
                </form>

            </div>

            <form method="post" asp-action="SaveCurrentWork">
                <textarea name="crossText" id="cross-text">@Model.CrossText</textarea>
                <textarea name="afterCrossText" id="after-cross-text">@Model.AfterCrossText</textarea>
                <textarea name="fullName" id="full-name">@Model.FullName</textarea>
                <textarea name="year" id="year">@Model.Year</textarea>
                <textarea name="mainText" id="main-text">@Model.CurrentText</textarea>
                <textarea name="panahida" id="panahida">@Model.Panahida</textarea>
                <textarea name="from" id="from">@Model.From</textarea>

                <button type="submit" id="save-work"><i class="fas fa-save"></i></button>
            </form>

            <form method="post" asp-action="SaveToDataBase">
                <textarea hidden name="background" id="bg">@Model.CurrentFrame</textarea>
                <textarea hidden name="cross" id="cr">@Model.CurrentCross</textarea>
                <textarea hidden name="picture" id="pr">@Model.Picture</textarea>
                <textarea hidden name="crossText" id="ct">@Model.CrossText</textarea>
                <textarea hidden name="afterCrossText" id="ct">@Model.AfterCrossText</textarea>
                <textarea hidden name="fullName" id="fn">@Model.FullName</textarea>
                <textarea hidden name="year" id="ye">@Model.Year</textarea>
                <textarea hidden name="mainText" id="mt">@Model.CurrentText</textarea>
                <textarea hidden name="panahida" id="ph">@Model.Panahida</textarea>
                <textarea hidden name="fromWhere" id="fr">@Model.From</textarea>

                <button type="submit" id="total-save"><i class="fas fa-share-square"></i></button>
            </form>

        </div>



        <div id="items">

            @if (Model.Elements == Elements.Frames)
            {
                foreach (var frame in Model.AllFrames)
                {
                    <a href="/MakeIt/ChangeFrame?frameId=@frame.FrameId"><img class="elements" src="@frame.FilePath" alt="image"></a>
                }
            }
            else if (Model.Elements == Elements.Crosses)
            {
                foreach (var cross in Model.AllCrosses)
                {
                    <a href="/MakeIt/ChangeCross?crossId=@cross.CrossId"><img class="elements" src="@cross.FilePath" alt="image"></a>
                }
            }
            else if (Model.Elements == Elements.Texts)
            {
                foreach (var text in Model.AllTexts)
                {
                    <a href="/MakeIt/ChangeText?textId=@text.TextId"><p class="elements side-texts">@text.TextTemplate</p></a>
                }
            }

        </div>
    </section>
</body>
</html>