@using Funeral.App.Enums
@model Funeral.App.ViewModels.MakeItViewModel
@{
    ViewData["Title"] = "Направи си";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/MainWithout.css">
</head>
<body>
    <aside id="menu-items">

        <ul>
            <li><a class="mr-5" asp-controller="MakeIt" asp-action="MakeIt"><i class="far fa-address-card"></i> Шаблон със снимка</a></li>

            <li><a asp-controller="MakeIt" asp-action="ChangeToFrames" asp-route-type="no"><i class="fas fa-chalkboard-teacher"></i> Рамки</a></li>
            <li><a asp-controller="MakeIt" asp-action="ChangeToTexts" asp-route-type="no"><i class="fas fa-file-alt"></i> Текстове</a></li>
            <li><a asp-controller="MakeIt" asp-action="ChangeToCrosses" asp-route-type="no"><i class="fas fa-bible"></i> Кръстове</a></li>
        </ul>

    </aside>

    <section id="design">
        <div id="main-window">

            <img id="background" name="background" src="@Model.CurrentFrame" alt="">
            <img width="70px" id="crossNo" name="cross" src="@Model.CurrentCross" alt="">

            <form method="post" asp-action="SaveCurrentWork" asp-route-type="no">

                <div asp-validation-summary="All" class="text-danger"></div>

                <textarea name="crossText" id="cross-textNo">@Model.CrossText</textarea>
                <textarea name="afterCrossText" id="after-cross-textNo">@Model.AfterCrossText</textarea>


                <div>
                    <textarea asp-for="FullName" name="fullName" id="full-nameNo"></textarea>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <textarea name="year" id="yearNo">@Model.Year</textarea>
                <textarea name="mainText" id="main-textNo">@Model.CurrentText</textarea>
                <textarea name="panahida" id="panahidaNo">@Model.Panahida</textarea>
                <textarea name="from" id="fromNo">@Model.From</textarea>

                <button type="submit" id="save-work"><i class="fontIcons fas fa-save"></i></button>
            </form>

            <form method="post" asp-action="SaveToDataBase">
                <textarea hidden name="background" id="bg">@Model.CurrentFrame</textarea>
                <textarea hidden name="cross" id="cr">@Model.CurrentCross</textarea>
                <textarea hidden name="picture" id="pr">@Model.Picture</textarea>
                <textarea hidden name="crossText" id="ct">@Model.CrossText</textarea>
                <textarea hidden name="afterCrossText" id="ct">@Model.AfterCrossText</textarea>
                <textarea hidden name="fullName" id="fn">@Model.FullName</textarea>
                <textarea hidden name="year" id="ye">@Model.Year</textarea>
                <textarea hidden name="mainText" id="mt">@Model.CurrentText</textarea>
                <textarea hidden name="panahida" id="ph">@Model.Panahida</textarea>
                <textarea hidden name="fromWhere" id="fr">@Model.From</textarea>

                <button type="submit" id="total-save"><i class="fontIcons fas fa-share-square"></i></button>
            </form>

        </div>



        <div id="items">

            @if (Model.Elements == Elements.Frames)
            {
                foreach (var frame in Model.AllFrames)
                {
                    <a href="/MakeIt/ChangeFrame?frameId=@frame.FrameId&type=no"><img class="elements" src="@frame.FilePath" alt="image"></a>
                }
            }
            else if (Model.Elements == Elements.Crosses)
            {
                foreach (var cross in Model.AllCrosses)
                {
                    <a href="/MakeIt/ChangeCross?crossId=@cross.CrossId&type=no"><img class="elements" src="@cross.FilePath" alt="image"></a>
                }
            }
            else if (Model.Elements == Elements.Texts)
            {
                foreach (var text in Model.AllTexts)
                {
                    <a href="/MakeIt/ChangeText?textId=@text.TextId&type=no"><p class="elements side-texts">@text.TextTemplate</p></a>
                }
            }

        </div>
    </section>
</body>
</html>