@model ICollection<Funeral.App.ViewModels.TextTemplateViewModel>
@{
    ViewData["Title"] = "Качване на текст";
}
<div class="row">
    <h1 class="mr-5">Качване на текст</h1>
    <a class="btn btn-info text-md-center mr-3" asp-controller="Admin" asp-action="UploadFrame">Качване на рамка</a>
    <a class="btn btn-success text-md-center" asp-controller="Admin" asp-action="UploadCross">Качване на кръст</a>
</div>
<hr />
<form class="form-group" method="post">
    <label for="funeral-text">Въведете текст:</label><br>
    <textarea rows="3" class="form-control" name="funeralText" type="text" id="funeral-text" value=""></textarea>
    <br />
    <input class="btn btn-primary" type="submit" value="Въведи">
</form>
<hr />
<h4>Всички текстове:</h4>
Можете да премахвате и редактирате само текстове, които в момента не се използват от потребител, като част от негов некролог. В противен случай, некролога на потребителя който ги ползва, ще остане без текст или текста му ще бъде променен. Ако некролога е с неприемливо съдържание, можете като администратор първо да премахнете некролога, след което и всички свързани с него елементи.

<section>
    <br />
    <table class="table table-hover">
        <tr>
            <th>Текст</th>
            <th>Премахване</th>
            <th>Редактиране</th>
        </tr>

        @foreach (var text in Model)
        {
            <tr>
                <td>
                    @text.TextTemplate
                </td>

                @if (!text.IsTextUsed)
                {
            <td>
                <a asp-controller="Admin" asp-action="DeleteTextTemplate" asp-route-textId="@text.TextId" asp-route-textTemplate="@text.TextTemplate" class="btn btn-sm btn-danger">Премахване</a>
            </td>
                    <td>
                        <a asp-controller="Admin" asp-action="EditTextTemplate" asp-route-textId="@text.TextId" asp-route-textTemplate="@text.TextTemplate" class="btn btn-sm btn-warning">Редактирай</a>
                    </td>
                }
                else
                {
                    <td>
                    </td>
                    <td>
                    </td>
                }
            </tr>

            
        }
    </table>
</section>